<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mybatis.model.mapper.MemberMapper">

<!-- 
	id : 연결된 인터페이스에서 실행될 메소드명
	resultType : 쿼리문의 결과를 매핑할 타입 지정.
	             클래스(DTO/VO)인 경우 전체 클래스명으로 작성해야 함.
	  클래스명만 지정하고자 할 경우. 설정 추가 (=> application.properties)           
    parameterType : 쿼리문 실행 시 사용될 전달 데이터 타입 지정.
-->
<select id="findAll" resultType="MemberDTO">
 SELECT ID, NAME, EMAIL, AGE
 FROM MEMBER
 ORDER BY ID
</select>

<insert id="insert" parameterType="MemberDTO">
 INSERT INTO MEMBER (ID,NAME,EMAIL,AGE) 
 VALUES (SEQ_MEMBER_ID.NEXTVAL, #{name},#{email},#{age})
</insert>

<!-- 1. 수정할 회원의 기존 정보를 가져오는 SELECT 쿼리 -->
    <select id="findById" resultType="MemberDTO">
        SELECT ID, NAME, EMAIL, AGE
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <!-- 2. 사용자가 바꾼 데이터를 DB에 반영하는 UPDATE 쿼리 -->
    <update id="update">
        UPDATE MEMBER
        SET NAME = #{name},
            EMAIL = #{email},
            AGE = #{age}
        WHERE ID = #{id}
    </update>

<!-- 특정 회원 삭제 -->
<delete id="delete">
    DELETE FROM MEMBER
    WHERE ID = #{id}
</delete>


</mapper>